@import "../../variables.scss";

.wrapper {
  margin-left: 100px;
  margin-top: 100px;
}

.main__heading {
  color: $new-categ_headings_color;
  font-size: 24px;
  padding-bottom: 35px;
}
.form {
  padding-bottom: 20px;
  
  &__input {
    border-radius: 5px;
    border: 1px solid $new-categ_inputs-border_color;
    width: 325px;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &__text {
    font-size: 18px;
    color: $new-categ_text_color;
    padding-bottom: 5px;
  }
  &__button {
    text-align: center;
    width: 330px;
    margin-top: 35px;
    padding: 12px;
    font-size: 16px;  
    border-radius: 5px;
    background-color: $new-categ_button_color;
    border: none;
    color: #fff;
    &:hover {
      background-color: $new-categ_btn_hover_color;
      transform: scale(1.05);
      transition: all 0.3s;
      cursor: pointer;
    }
  }
}

.balance {
  position: absolute;
  top: 20px;
  right: 40px;
}

.description {
  margin-top: 20px;
}

