@import '../../variables.scss';

.home{
  &__select{
    display: flex;
    align-items: center;
    


    &__wrapp{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  h3{
    color: $sidebar-color-text;
    font-weight: 500;
    padding-bottom: 3px;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .MuiSelect-root {
    color: $sidebar-color-text ;
    font-size: 17px ;
  }

  .MuiInput-underline{
    &:before,
    &:after{
      display: none;
    }
  }

}


.MuiList-root.MuiMenu-list.MuiList-padding{
  padding: 15px ;

  div{
    &:hover{
      cursor: pointer;
    }
    &:not(:last-of-type){
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid $main-blue;
    }
  }
}