@import '../../variables.scss';

.charts{
  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__title{
    color: $dark-gray;
    font-weight: 500;
    font-size: 18px;
    margin-left: 30px;
  }

  &__btn{
    background-color: rgba($main-blue, .2);
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    color: $main-blue;
    transition: all .3s ease;

    &.active{
      background-color: rgba($main-blue, 1);
      color: $while;
    }

    &:hover{
      background-color: rgba($main-blue, .4);
    }

    &:not(:last-of-type){
      margin-right: 15px;
    }

    &:focus{
      outline: none;
    }
  }

  &__row{
    display: flex;
    margin-top: 50px;
  }

  &__chart{
    &-bar{
      width: 150px;
    }

    &-pie{
      margin-left: 150px;
      width: 100%;
      max-width: 400px;
    }

    &__wrap{
      display: flex;
      align-items: center;
    }

    &-title{
      font-size: 18px;
    }
  }
}