$sidebar-bg: #f9f9f9;
$sidebar-border-bg: #e3e3e3;
$main-blue: #7aa9f3;
$dark-gray: #627586;
$while: #fff;
$sidebar-color-text:#475f7b;
$sidebar-color-text-hover:rgba(24, 24, 90, 0.938);
$balance_text:#8ca1c3;
$balance__sum:#6c6c6c;

/*new-category page styles*/
$new-categ_headings_color: #58738e ;
$new-categ_text_color: #656565;
$new-categ_inputs-border_color: #65656550;
$new-categ_button_color: #80aaff;
$new-categ_btn_hover_color: #729df3; 
$balance__sum:#6c6c6c;
