@import "./../variables";

.layout{
  &__sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: $sidebar-bg;
    border: 1px solid $sidebar-border-bg;
  }

  &__pages{
    margin-left: 260px;
  }
}
.balance{
  &__box{
   font-family: 'Martel Sans', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: right;
   margin-top: 50px;
   margin-right: 40px;
   float: right;
   }
   &__text{
     font-size: 20px;
     margin-left: 55px;
     color: $balance_text;
   }
   &__sum{
     font-weight: 400;
     font-size: 30px;
     color:$balance__sum;
     margin-top: 30px;
     margin-right: 45px;
   }
     }
